039.step-functions-nested-state-machine/asl/child_state_machine.asl.json
{
  "Comment": "Child state machine: invokes external Lambda asynchronously, loops until complete, then processes data",
  "StartAt": "InvokeExternalLambdaAsync",
  "States": {
    "InvokeExternalLambdaAsync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${async_invoke_lambda_arn}",
        "Payload": {}
      },
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "ResultPath": "$.async_invoke_result",
      "Next": "WaitForExternalLambda"
    },
    "WaitForExternalLambda": {
      "Type": "Wait",
      "SecondsPath": "$.wait_seconds",
      "Next": "CheckExternalLambdaCompletion"
    },
    "CheckExternalLambdaCompletion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${check_completion_lambda_arn}",
        "Payload": {
          "start_time.$": "$.async_invoke_result.output.start_time"
        }
      },
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "ResultPath": "$.check_result",
      "Next": "IsExternalLambdaComplete"
    },
    "IsExternalLambdaComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.check_result.output.status",
          "StringEquals": "COMPLETED",
          "Next": "ChildLambdaTaskFirst"
        }
      ],
      "Default": "WaitForExternalLambda"
    },
    "ChildLambdaTaskFirst": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${child_lambda_function_arn}",
        "Payload": {
          "input_value.$": "$.input_value",
          "processing_type.$": "$.processing_type"
        }
      },
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "ResultPath": "$.first_result",
      "Next": "ChildLambdaTaskSecond"
    },
    "ChildLambdaTaskSecond": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${child_lambda_function_arn}",
        "Payload": {
          "input_value.$": "$.first_result.output.processed_value",
          "processing_type": "add"
        }
      },
      "ResultSelector": {
        "output.$": "$.Payload"
      },
      "ResultPath": "$.second_result",
      "Next": "CombineResults"
    },
    "CombineResults": {
      "Type": "Pass",
      "Parameters": {
        "first_result.$": "$.first_result",
        "second_result.$": "$.second_result"
      },
      "End": true
    }
  }
}
